* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818;
  color: white;
  font-family: sans-serif;
}

.body {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

header {
  background-color: #f6f6f6;
  color: #181818;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.scores {
  display: grid;
  grid-template-columns: auto auto;
}

.score {
  display: inline-block;
  margin: 20px;
  margin-bottom: 0;
}

.scores p {
  margin-top: 0px;
  font-size: 60px;
}

.computer-score {
  margin-top: 10px;
}

.game-section {
  margin-top: 0px;
}

.result h2 {
  margin-top: 10px;
  font-size: 30px;
}

.choice {
  display: inline-block;
  margin: 10px;
}

img {
  width: 150px;
  padding: 0px;
  background: none;

  /* background-color: white; */
}

.game-section img:hover {
  cursor: pointer;
  transform: all 1s ease;
  border-radius: 100%;
  border-color: transparent;
  box-shadow: 1px 1px 20px #f6f6f6;
}
