* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818;
  color: white;
  font-family: sans-serif;
}

.body {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

header {
  background-color: #f6f6f6;
  color: #181818;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.scores {
  display: grid;
  grid-template-columns: auto auto;
}

.score {
  display: inline-block;
  margin: 20px;
  margin-bottom: 0;
}

.scores p {
  margin-top: 0px;
  font-size: 60px;
}

.computer-score {
  margin-top: 10px;
}

.game-section {
  margin-top: 0px;
}

.result h2 {
  margin-top: 10px;
  font-size: 30px;
}

.choice {
  display: inline-block;
  margin: 10px;
}

img {
  width: 150px;
  padding: 0px;
  background: none;

  /* background-color: white; */
}

.game-section img:hover {
  cursor: pointer;
  transform: all 1s ease;
  border-radius: 100%;
  border-color: transparent;
  box-shadow: 1px 1px 20px #f6f6f6;
}

.disable {
  pointer-events: none;
}

.res {
  display: inline;
}

.para {
  position: absolute;
  font-size: 50px;
}

.winner {
  margin-top: 30px;
  position: relative;
}

.win {
  position: absolute;
  display: inline;
  left: 90px;
  /* margin-right: 20px;
  margin-left: 20px; */
}

.lose {
  position: absolute;
  display: inline;
  right: 180px;
  /* margin-right: 20px;
  margin-left: 20px; */
}

.winner .para {
  margin-top: 50px;
  margin-left: 10px;
}

.green {
  color: #32cd32;
}

.red {
  color: #ff0000;
}

.btn-play {
  margin-top: 200px;
  font-size: 30px;
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 20px;
  color: #066092;
  background-color: #f7f7f7;
  border: none;
}

.btn-play:hover {
  cursor: pointer;
  box-shadow: 1px 1px 20px #c5b9b9;
}

.btn-play:focus {
  outline: none;
}

@media screen and (max-width: 700px) {
  img {
    width: 100px;
    padding: 0px;
    background: none;
  }

  .result h2 {
    font-size: 20px;
  }

  .scores {
    justify-content: space-evenly;
  }

  .score {
    display: inline-block;
    margin: 10px;
    margin-bottom: 0;
  }

  .scores p {
    margin-top: 0px;
    font-size: 40px;
  }

  .computer-score {
    margin-top: 10px;
  }

  .para {
    position: absolute;
    font-size: 30px;
  }

  .winner {
    margin-top: 30px;
    position: relative;
  }

  .win {
    position: absolute;
    display: inline;
    left: 140px;
    /* margin-right: 20px;
  margin-left: 20px; */
  }

  .lose {
    position: absolute;
    display: inline;
    right: 230px;
    /* margin-right: 20px;
  margin-left: 20px; */
  }

  .winner .para {
    margin-top: 50px;
    margin-left: 10px;
  }

  .green {
    color: #32cd32;
  }

  .btn-play {
    margin-top: 150px;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 20px;
    color: #066092;
    background-color: #f7f7f7;
    border: none;
  }

  body {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  img {
    width: 90px;
    padding: 0px;
    background: none;
  }

  .result h2 {
    font-size: 20px;
  }

  .scores {
    display: inline;
  }

  .score {
    display: inline-block;
    margin: 10px 50px;
  }

  .scores p {
    margin-top: 0px;
    font-size: 40px;
  }

  .computer-score {
    margin-top: 10px;
  }

  .para {
    position: absolute;
    font-size: 30px;
  }

  .winner {
    margin-top: 30px;
    position: relative;
  }

  .win {
    position: absolute;
    display: inline;
    left: 140px;
  }

  .lose {
    position: absolute;
    display: inline;
    right: 230px;
  }

  .winner .para {
    margin-top: 50px;
    margin-left: 10px;
  }

  .green {
    color: #32cd32;
  }

  .btn-play {
    margin-top: 150px;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 20px;
    color: #066092;
    background-color: #f7f7f7;
    border: none;
  }

  body {
    text-align: center;
    width: 100%;
  }
}
